#sidebar-mm{
    /* background-color: rgb(231, 231, 231); */
  background: linear-gradient(135deg,#ffffbe,#faffc7,#f8ffc3,#ffffc7 ,#faffc3,#fffbbe,#feffb7,#feffbb,#ffffbc,#ffffb9,#fdffbc,#f8ffbc);

}
#sidebar-mm-link {
  background-color: rgb(255, 234, 0);
  color: black;
  font-weight: 600;
  display: block; 
  padding: 14px 15px; 
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  
}

#sidebar-mm-link {
  position: relative;
  z-index: 10;
}

#navbar-mm{
    background-color: rgb(255, 234, 0);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* ✅ เงาเข้มชัด */
}
#clock-header{
    background-color: aliceblue;
    padding: 0.4rem;
    box-shadow: 1px 1px 3px 2px rgb(67, 67, 67);
    border-radius: 1px;
}
.img-list{
    border-radius: 5px;
     border-radius: 5px;
}
#sidebar-pro{
  background-color: #e8e8e8;
}

/*----- login ----------------------------------------------------- */
.login-wrap{
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #ffffff;
  background: linear-gradient(135deg,#ffffbe,#faffc7,#f8ffc3,#ffffc7 ,#faffc3,#fffbbe,#feffb7,#feffbb,#ffffbc,#ffffb9,#fdffbc,#f8ffbc);
}

.login-shell{
  width: min(1250px, 95vw);
  margin: 56px auto;
  display: grid;
  grid-template-columns: 1.25fr 420px;  /* ซ้ายใหญ่ / ขวาฟอร์ม */
  gap: 70px;
  align-items: center;
}

.login-shell-s{
  width: min(1250px, 95vw);
  margin: 56px auto;
  display: grid;
  grid-template-columns: 1.25fr 420px;  /* ซ้ายใหญ่ / ขวาฟอร์ม */
  gap: 70px;
  align-items: center;
}

/* รูปใหญ่ด้านซ้าย */
.login-hero{
  text-align: center;
}

.login-hero img{
  width: 100%;
  max-width: 820px;          
  aspect-ratio: 4/3;
  object-fit: cover; 
  border-radius: 2px;          /* เต็มเฟรม (อาจครอปขอบนิดหน่อย) */
  /* box-shadow: 0 10px 14px 34px rgb(177, 228, 255); */
  box-shadow: 2px 2px 5px 8px rgb(163, 163, 163);
  border: #e7e7e7 solid 1px;
  border-radius: 5px;
}

.login-hero h1{
  margin: 18px 0 6px;
  font-size: 34px;
  font-weight: 800;
  color: #1f2937;
}
.login-hero p{
  margin: 0;
  color: #6b7280;
}

/* การ์ดฟอร์มด้านขวา */
.login-card{
  background: linear-gradient(135deg,#4d85ff,#5ea6ff,#61a8ff,#8491ff,#6daefe,#5ca5ff);
  border-radius: 2px;
  padding: 28px;
  height: 420px;
  border-radius: 5px;  
  box-shadow: 0 0 20px rgb(169, 169, 169);
  border: rgb(135, 135, 135) solid 1px;
}

.brand h2{
  margin: 0 0 12px;
  text-align: center;
  font-weight: 800;
  color: #1f2937;
}

.login-form-box {
  /* background: white; */
  background: linear-gradient(135deg,#4d85ff,#5ea6ff,#61a8ff,#8491ff,#6daefe,#5ca5ff);
  padding: 30px;
  width: 21.875rem;
  height: 25rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(169, 169, 169);
  display: flex;
  flex-direction: column;
  border: rgb(135, 135, 135) solid 1px;
}



/* Responsive: จอแคบ → เรียงบนลงล่าง */
@media (max-width: 1024px){
  .login-shell{ grid-template-columns: 1fr; gap: 28px; }
  .login-card{ max-width: 520px; margin: 0 auto; }
  .login-hero img{ max-width: 680px; }
}